<html>
<head>
    <style>
        .thumb{


            display:inline-block;
            margin-bottom:35px;
            margin-right:45px;


        }
        img{
            height:150px;
            width:150px;
        }
    </style>
</head>
<form action="/addrInterests" method="post">
    <div class="imgs">


        <div class="thumb">
            <label for="img1"><img class="img" src="images/beach-yoga.jpg"/></label>
            <input type="checkbox" class="chk " id="img1" name="img1" value="yoga" />
        </div>

        <div class="thumb">

            <label for="img2"><img class="img" src="images/triathlon-running.jpg"/></label>
            <input type="checkbox" class="chk " id="img2" name="img2" value="running" />
        </div>

        <div class="thumb">

            <label for="img3"><img class="img" src="images/swimming.jpg"/></label>
            <input type="checkbox" class="chk "  id="img3" name="img3" value="swimming" />
        </div>
        <div class="thumb">

            <label for="img4"><img class="img" src="http://s5.tinypic.com/2youavb_th.jp"/></label>
            <input type="checkbox" class="chk "  id="img4" name="img4" value="0" />
        </div>
        <div class="thumb">

            <label for="img5"><img class="img" src="http://s5.tinypic.com/2youavb_th.jp"/></label>
            <input type="checkbox" class="chk "  id="img5" name="img5" value="0" />
        </div>
        <div class="thumb">

            <label for="img6"><img class="img" src="http://s5.tinypic.com/2youavb_th.jp"/></label>
            <input type="checkbox" class="chk "  id="img6" name="img6" value="0" />
        </div>
        <div class="thumb">

            <label for="img7"><img class="img" src="http://s5.tinypic.com/2youavb_th.jp"/></label>
            <input type="checkbox" class="chk "  id="img7" name="img7" value="0" />
        </div>
        <div class="thumb">

            <label for="img8"><img class="img" src="http://s5.tinypic.com/2youavb_th.jp"/></label>
            <input type="checkbox" class="chk "  id="img8" name="img8" value="0" />
        </div>
        <div class="thumb">

            <label for="img9"><img class="img" src="http://s5.tinypic.com/2youavb_th.jp"/></label>
            <input type="checkbox" class="chk "  id="img9" name="img9" value="0" />
        </div>
        <div class="thumb">

            <label for="img10"><img class="img" src="http://s5.tinypic.com/2youavb_th.jp"/></label>
            <input type="checkbox" class="chk "  id="img10" name="img10" value="0" />
        </div>
        <div class="thumb">
            <label for="img11"><img class="img" src="images/tennis.jpg"/></label>
            <input type="checkbox" class="chk "  id="img11" name="img11" value="tennis" />
        </div>
        <div class="thumb">

            <label for="img12"><img class="img" src="http://s5.tinypic.com/2youavb_th.jp"/></label>
            <input type="checkbox" class="chk "  id="img12" name="img12" value="0" />
        </div>
        <div class="thumb">

            <label for="img13"><img class="img" src="http://s5.tinypic.com/2youavb_th.jp"/></label>
            <input type="checkbox" class="chk "  id="img13" name="img13" value="0" />
        </div>
        <div class="thumb">

            <label for="img14"><img class="img" src="http://s5.tinypic.com/2youavb_th.jp"/></label>
            <input type="checkbox" class="chk "  id="img14" name="img14" value="0" />
        </div>
        <div class="thumb">

            <label for="img15"><img class="img" src="http://s5.tinypic.com/2youavb_th.jp"/></label>
            <input type="checkbox" class="chk "  id="img15" name="img15" value="0" />
        </div>
        <div class="thumb">
        </div>
    </div>
    <button type="submit">ADD INTERESTS</button>
</form>
</html>