<html>
<head>
    <style>
        .thumb{


            display:inline-block;
            margin-bottom:35px;
            margin-right:45px;


        }
        img{
            height:150px;
            width:150px;
        }
    </style>
</head>
<form action="/addrInterests" method="post">
    <div class="imgs">


        <div class="thumb">
            <label for="interest"><img class="img" src="images/yoga.jpg"/></label>
            <input type="checkbox" class="chk " id="interest" name="img1" value="yoga" />
        </div>

        <div class="thumb">

            <label for="interest"><img class="img" src="images/Running.jpg"/></label>
            <input type="checkbox" class="chk " id="interest" name="img2" value="running" />
        </div>

        <div class="thumb">

            <label for="interest"><img class="img" src="/Images/swimming.jpg"/></label>
            <input type="checkbox" class="chk "  id="interest" name="img3" value="swimming" />
        </div>
        <div class="thumb">

            <label for="interest"><img class="img" src="/Images/basketball.jpg"/></label>
            <input type="checkbox" class="chk "  id="interest" name="img4" value="basketball" />
        </div>
        <div class="thumb">

            <label for="interest"><img class="img" src="/Images/Camping.jpg"/></label>
            <input type="checkbox" class="chk "  id="interest" name="img5" value="camping" />
        </div>
        <div class="thumb">

            <label for="interest"><img class="img" src="/Images/football1.jpg"/></label>
            <input type="checkbox" class="chk "  id="interest" name="img6" value="football" />
        </div>
        <div class="thumb">

            <label for="interest"><img class="img" src="/Images/Guitar_Music.jpg"/></label>
            <input type="checkbox" class="chk "  id="interest" name="img7" value="music" />
        </div>
        <div class="thumb">

            <label for="interest"><img class="img" src="/Images/swimming.jpg"/></label>
            <input type="checkbox" class="chk "  id="interest" name="img8" value="swimming" />
        </div>
        <div class="thumb">

            <label for="interest"><img class="img" src="/Images/Hiking.jpg"/></label>
            <input type="checkbox" class="chk "  id="interest" name="img9" value="hiking" />
        </div>
        <div class="thumb">

            <label for="interest"><img class="img" src="/Images/Photography.jpg"/></label>
            <input type="checkbox" class="chk "  id="interest" name="img10" value="photography" />
        </div>
        <div class="thumb">
            <label for="interest"><img class="img" src="images/tennis.jpg"/></label>
            <input type="checkbox" class="chk "  id="interest" name="img11" value="tennis" />
        </div>
        <div class="thumb">

            <label for="interest"><img class="img" src="/Images/yoga.jpg"/></label>
            <input type="checkbox" class="chk "  id="interest" name="img12" value="yoga" />
        </div>
        <div class="thumb">

            <label for="interest"><img class="img" src="/Images/Running.jpg"/></label>
            <input type="checkbox" class="chk "  id="interest" name="img13" value="0" />
        </div>
                <div class="thumb">
        </div>
    </div>
    <button type="submit">ADD INTERESTS</button>
</form>
</html>