<html>
<head>
    <link rel="stylesheet" href="/stylesheets/bootstrapSU.min.css">
    <style>
        h1{
            font-family: Arial, Helvetica, sans-serif;
            font-weight: normal;
        }
        .thumb{


            display:inline-block;
            margin-bottom:35px;
            margin-right:45px;


        }
        img{
            height:200px;
            width:320px;
        }
        .container{
            width: 65%;
            margin: 0 auto;
            margin-top ;
        }
    </style>
</head>
<form action="/addrInterests" method="post">
    <div class="container">
        <h1>Tell Us What are you interested in</h1>
        <br><br><br>
        <div class="imgs">
            <div class="thumb">
                <label for="interest"><img class="img" src="images/yoga.jpg"/></label>
                <input type="checkbox" class="chk " id="interest" name="img1" value="Yoga" />
            </div>
            <div class="thumb">
                <label for="interest"><img class="img" src="images/Running.jpg"/></label>
                <input type="checkbox" class="chk " id="interest" name="img2" value="Running" />
            </div>
            <div class="thumb">
                <label for="interest"><img class="img" src="/Images/swimming.jpg"/></label>
                <input type="checkbox" class="chk "  id="interest" name="img3" value="Swimming" />
             </div>
            <div class="thumb">
                <label for="interest"><img class="img" src="/Images/basketball.jpg"/></label>
                <input type="checkbox" class="chk "  id="interest" name="img4" value="Basketball" />
            </div>
            <div class="thumb">
                <label for="interest"><img class="img" src="/Images/Camping.jpg"/></label>
                <input type="checkbox" class="chk "  id="interest" name="img5" value="Camping" />
            </div>
            <div class="thumb">
                <label for="interest"><img class="img" src="/Images/football1.jpg"/></label>
                <input type="checkbox" class="chk "  id="interest" name="img6" value="Football" />
            </div>
            <div class="thumb">
                <label for="interest"><img class="img" src="/Images/Guitar_Music.jpg"/></label>
                <input type="checkbox" class="chk "  id="interest" name="img7" value="Music" />
            </div>
            <div class="thumb">
                <label for="interest"><img class="img" src="/Images/Hiking.jpg"/></label>
                <input type="checkbox" class="chk "  id="interest" name="img9" value="Hiking" />
            </div>
            <div class="thumb">
                <label for="interest"><img class="img" src="/Images/Photography.jpg"/></label>
                <input type="checkbox" class="chk "  id="interest" name="img10" value="Photography" />
            </div>
            <div class="thumb">
                <label for="interest"><img class="img" src="images/gym.jpg"/></label>
                <input type="checkbox" class="chk "  id="interest" name="img11" value="Gymming" />
            </div>
            <div class="thumb">
                <label for="interest"><img class="img" src="images/carpool.jpg"/></label>
                <input type="checkbox" class="chk "  id="interest" name="img12" value="Carpool" />
            </div>
            <div class="thumb">
                <label for="interest"><img class="img" src="images/dance.png"/></label>
                <input type="checkbox" class="chk "  id="interest" name="img13" value="Dance" />
            </div>
            <div class="thumb">
                <label for="interest"><img class="img" src="images/tennis.jpg"/></label>
                <input type="checkbox" class="chk "  id="interest" name="img14" value="Tennis" />
            </div>
            <div class="thumb">
                <label for="interest"><img class="img" src="images/fishing.png"/></label>
                <input type="checkbox" class="chk "  id="interest" name="img15" value="Fishing" />
            </div>
            <div class="thumb">
                <label for="interest"><img class="img" src="images/surfing.jpg"/></label>
                <input type="checkbox" class="chk "  id="interest" name="img16" value="Surfing" />
            </div>
        </div>
    </div>
    <center><button type="submit" class="btn btn-success">ADD INTERESTS</button></center>
</form>
</html>