<!DOCTYPE html>
<html>
  <head>
    <title>Successful Login</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>All Users in Database</h1>
    <div>
	       <% for(var i in data) 
	            {                     
	            console.log(data[i].emailId+"$$$");
            %>       
                    <p><strong>FirstName: </strong><%= data[i].firstname %></p>
                	<p><strong>LastName: </strong><%= data[i].lastname %></p>
           		    <p><strong>EmailId: </strong><%= data[i].emailid %></p>
                	<p><strong>Password: </strong><%= data[i].password %></p>
            		<br>       
           <% 
	            }  
	       %>
	</div>
  </body>
</html>