    <html>
    <div class="login">
         <div class="sap_tabs">
            <div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">
               <ul class="resp-tabs-list">
                  <li class="resp-tab-item" aria-controls="tab_item-0" role="tab"><span>Login</span></li>
                  <li class="resp-tab-item" aria-controls="tab_item-1" role="tab"><label>/</label><span>Sign up</span></li>
                  <div class="clearfix"></div>
               </ul>               
               <div class="resp-tabs-container">
                  <div class="tab-1 resp-tab-content" aria-labelledby="tab_item-0">
                     <div class="login-top">
                        <form>
                           <input type="text" class="email" placeholder="Email" required=""/>
                           <input type="password" class="password" placeholder="Password" required=""/>      
                        </form>
                        <div class="login-bottom login-bottom1">
                           <div class="submit">
                              <input type="submit" value="LOGIN"/>
                           </div>
                           <ul>
                              <li><p>Or login with</p></li>
                              <li><a href="#"><span class="fb"></span></a></li>
                           </ul>
                           <div class="clear"></div>
                        </div> 
                     </div>
                  </div>
                  <div class="tab-1 resp-tab-content" aria-labelledby="tab_item-1">
                  <div class="login-top">
                        <form method="post" action="/basicSignUp">
                           <input type="text" class="name active" placeholder="First Name" name="firstname" required=""/>
                           <input type="text" class="name active" placeholder="Last Name" name="lastname" required=""/>
                           <input type="text" class="email" placeholder="Email" name="email" required=""/>
                           <input type="password" class="password" placeholder="Password" name="password" required=""/>      
                        
                        <div class="login-bottom">
                           <div class="submit">
                              <input type="submit" value="SIGN UP"/>
                           </div>
                           </form>
                           <ul>
                              <li><p>Or login with</p></li>
                              <li><a href="#"><span class="fb"></span></a></li>
                           </ul>
                           <div class="clear"></div>
                        </div> 
                     </div>
                     
                  </div>                   
               </div> 
            </div>
         </div> 
      </div> 
      <div class="clear"></div>
   <!--/div-->
   <div class="account">
         <ul>
            <li><p>Don't have an <a href="#">account?</a></p></li><span>/</span>
            <li><p>Forgot <a href="#">password?</a></p></li>
            <div class="clear"></div>
         </ul>
      </div>
   <div style="text-align:center; margin-top:10px;">
            <ins class="adsbygoogle"
style="display:block"
data-ad-client="ca-pub-8011246932591811"
data-ad-slot="9844648019"
data-ad-format="auto"></ins> <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
            </div>

</body>
</html>